<!doctype html>

<html>

<head>
    <meta name="msvalidate.01" content="3E91B0BF8BC34B1E25441593FC572CDF" />

    <meta name=”description” content=” whats trending on around the world happening on the internet. ”/>

    <meta name="keywords" content="whats trending, whats trening on twitter,whats trending on google, whats trending on instagram, instagram trending, whats trending on flickr, flikr tredning, facebook trending, whats trending on facebook ">

    <meta name="twitter:widgets:csp" content="on">

    <title>Rypher | discover latest trends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">


   <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
    <script src="js/angularjs1.2.19.js"></script>
    <script src="js/ui-router0.2.10.js"></script>
   
    <script src="js/underscore.js-1.7.0.js"></script>
    <script src="js/GA.js"></script>
    <script src="js/tweets.js"></script>
    

</head>

<body ng-app="potatoNews" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <ui-view></ui-view>
        </div>
    </div>





    <!-- TREND  -->







<div class="container">
    <h2>Index.ejs</h2>
    <div class="row clearfix">
         <blockquote class="twitter-tweet" lang="en">
            <a href="https://twitter.com/23243F/status/553762212981252096">Jan 10, 2014</a>
        </blockquote>
    </div>

</div>







    <script src="js/angularApp.js"></script>
    <script src="js/jquery.js"> </script>
    <script src="js/script.js"></script>

    <script src="js/tweets.js"></script>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    



</body>

</html>
