<!doctype html>

<html data-ng-app="potatoNews" ng-cloak>
<head>
    <title>Trends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>    

</head>
<body  data-status="{{ status }}" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <ui-view></ui-view>
        </div>
    </div>



    <script src="js/angularApp.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"> </script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"> </script>

    <script src="js/script.js"></script>    
</body>
</html>
