body {
  background: #E9E9E9;
  font-family: 'palatino', 'Helvetica Neue', Helvetica, sans-serif; }

a {
  color: #333;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: underline; }

p {
  background-color: red; }

h1 {
  font-size: 3em; }

header {
  background-color: #b84d45; 
  background-image: url(http://startbootstrap.com/assets/img/bg.png);
  height: 80px;
}

header h1 {
  text-align: center;
  margin: 0 0 0 0;
  color: #FFF; 
  height: 10px;
}

.h1trend{
  padding-top: 15px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.searchInput{
  font-size: 16px;
  text-align: left !important;
  top:12px;
}

footer {
  text-align: center;
  color: #888; }

.glyphicon-thumbs-up,
.glyphicon-thumbs-down {
        cursor: pointer
    }  

.nobullets{
   list-style-type: none;
  /*font-size: 20px;   */

}
.trendli{
  font-size: 15px;
  max-width:200px;
  word-wrap:break-word;
}


.youtube-block{
  
}
















