<h3> YT List of youtube Items </h3>

{{ytPromise}}
<ul>
  <li ng-repeat="person in contacts"><a ng-href="#/contacts/{{person.id}}">{{person.name}}</a></li>
</ul>




        <div class="container">

            <div class="row clearfix">
                <div class="col-md-6 col-md-offset-3 column">


                </div>
            </div>

        </div>






<div >
  <div ng-repeat="media in product.medium">
    <div class="thumbnail">
      <div class="video-container">
        <iframe width="100%" ng-src="{{getIframeSrc(media)}}" frameborder="0 " allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>